doctype html
html
  head
    title Report Results
  body
    h1 Report Results
    table
      tr
        th Package Number
        th Weight
        th Height
        th Insurance Amount
        th Destination
        th Final Delivery Date
        th Status
        th Width
        th Length
        th Retail Center
      for result in results
        tr
          td= result.package_number
          td= result.Weight
          td= result.Height
          td= result.Insurance_Amount
          td= result.Destination
          td= result.Final_Date
          td= result.package_status
          td= result.Width
          td= result.Length
          td= result.Recieved_By